version: 2
jobs:
  build:
    working_directory: ~/ex_abi
    docker:
      - image: elixir:latest
        environment:
          MIX_ENV: test

    steps:
      - checkout
      - run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - run: echo 'export PATH=$HOME/.cargo/bin/:$PATH' >> $BASH_ENV

      - restore_cache:
         keys:
           - v1-dependency-cache-{{ arch }}-{{ checksum "mix.lock" }}
           - v1-dependency-cache-{{ arch }}
           - v1-dependency-cache

      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix deps.get

      - run: mix format --check-formatted
      - run: HOME/.cargo/bin mix test

      - save_cache:
          key: v1-dependency-cache-{{ arch }}-{{ checksum "mix.lock" }}
          paths:
            - _build
            - deps
            - ~/.mix
